<!-- <div class="dashboard-container">
    
    <mat-toolbar class="dashboard-toolbar" color="primary">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      
      <span class="toolbar-title">
        <mat-icon class="title-icon">photo_library</mat-icon>
        פאנל ניהול תמונות משפחה
      </span>
      
      <span class="toolbar-spacer"></span>
      
    
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ currentUser?.name }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu" class="user-menu">
        <button mat-menu-item disabled>
          <mat-icon>email</mat-icon>
          <span>{{ currentUser?.email }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>התנתק</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  
    <mat-sidenav-container class="dashboard-sidenav-container">
      <mat-sidenav 
        #sidenav 
        [opened]="sidenavOpened" 
        mode="side" 
        class="dashboard-sidenav">
        
        <div class="sidenav-header">
          <div class="welcome-section">
            <mat-icon class="welcome-icon">dashboard</mat-icon>
            <h3 class="welcome-title">דשבורד ניהול</h3>
            <p class="welcome-subtitle">ברוך הבא, {{ currentUser?.name }}</p>
          </div>
        </div>
  
        <mat-nav-list class="navigation-list">
          <div class="nav-section">
            <h4 class="nav-section-title">תפריט ראשי</h4>
            
            <a 
              mat-list-item 
              *ngFor="let item of menuItems"
              [routerLink]="item.route"
              routerLinkActive="active-nav-item"
              class="nav-item">
              
              <mat-icon matListItemIcon class="nav-icon">{{ item.icon }}</mat-icon>
              <div matListItemTitle class="nav-content">
                <span class="nav-title">{{ item.title }}</span>
                <span class="nav-description">{{ item.description }}</span>
              </div>
              <mat-icon matListItemMeta class="nav-arrow">chevron_right</mat-icon>
            </a>
          </div>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content class="dashboard-content">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->


  <div class="dashboard-container">
    <!-- Top Toolbar -->
    <mat-toolbar class="dashboard-toolbar" color="primary">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      
      <span class="toolbar-title">
        <mat-icon class="title-icon">photo_library</mat-icon>
        פאנל ניהול תמונות משפחה
      </span>
      
      <span class="toolbar-spacer"></span>
      
      <!-- User Menu -->
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ currentUser?.name }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu" class="user-menu">
        <button mat-menu-item disabled>
          <mat-icon>email</mat-icon>
          <span>{{ currentUser?.email }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>התנתק</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  
    <!-- Sidenav Container -->
    <mat-sidenav-container class="dashboard-sidenav-container">
      <!-- Side Navigation -->
      <mat-sidenav 
        #sidenav 
        [opened]="sidenavOpened" 
        [mode]="getSidenavMode()"
        position="end"
        class="dashboard-sidenav"
        [fixedInViewport]="isMobile"
        [fixedTopGap]="isMobile ? 64 : 0">
        
        <div class="sidenav-header">
          <div class="welcome-section">
            <mat-icon class="welcome-icon">dashboard</mat-icon>
            <h3 class="welcome-title">דשבורד ניהול</h3>
            <p class="welcome-subtitle">ברוך הבא, {{ currentUser?.name }}</p>
          </div>
        </div>
  
        <!-- Navigation Menu -->
        <mat-nav-list class="navigation-list">
          <div class="nav-section">
            <h4 class="nav-section-title">תפריט ראשי</h4>
            
            <a 
              mat-list-item 
              *ngFor="let item of menuItems"
              [routerLink]="item.route"
              routerLinkActive="active-nav-item"
              class="nav-item"
              (click)="isMobile && sidenav.close()">
              
              <mat-icon matListItemIcon class="nav-icon">{{ item.icon }}</mat-icon>
              <div matListItemTitle class="nav-content">
                <span class="nav-title">{{ item.title }}</span>
                <span class="nav-description">{{ item.description }}</span>
              </div>
              <mat-icon matListItemMeta class="nav-arrow">chevron_left</mat-icon>
            </a>
          </div>
        </mat-nav-list>
      </mat-sidenav>
  
      <!-- Main Content -->
      <mat-sidenav-content class="dashboard-content">
        <div class="content-wrapper" [class.content-shifted]="sidenavOpened && !isMobile">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>